.b-chooser {
  display: flex;
  font-weight: bold;
  height: 100%;
}

.b-chooser__title {
  background-color: #2c3e50;
  color: #fff;
  height: 75px;
  position: absolute;
  text-align: center;
  width: 100%;

  > span {
    display: inline-block;
    padding-top: 20px;
  }
}

.b-chooser__separator {
  background-color: #2c3e50;
  height: 100%;
  width: 1px;
}

.b-chooser__link {
  cursor: pointer;
  flex-grow: 1;
  padding-top: 275px;
  text-align: center;
  width: 50%;
}
