@import 'normalize.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';

@import 'chooser';
@import 'prepare';
@import 'sell';
@import 'item';
@import 'sidebar';
@import 'modal';
@import 'pendingOrders';
@import 'keyboard';
@import 'orderId';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  max-height: 100%;
  width: 100%;
}

body {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}

a {
  color: #fff;
}

#app {
  height: 100%;
}

[hidden] {
  display: none !important;
}
