.b-keyboard__key {
  background-color: var(--dark-sunflower);
  color: var(--dark-blue);
  margin: 2px;
  display: inline-block;

  /* center the letter in the square */
  width: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 25px;
}

.b-keyboard__key--selected {
  background-color: var(--dark-blue);
  color: var(--dark-sunflower);
}

.b-keyboard:first-child {
  padding-right: 10px;
}

.b-order_code__result {
  background-color: var(--dark-sunflower);
  color: var(--dark-blue);
  margin: 2px;
  display: inline-block;

  /* center the letter in the square */
  width: 150px;
  height: 150px;
  line-height: 70px;
  text-align: center;
  font-size: 25px;
  display: flex;
  flex-direction: column;
}