.b-modal {
  background: var(--light-light-gray);
  display: flex;
  flex-direction: column;
  min-height: 200px;
  justify-content: center;
  left: 50%;
  min-width: 400px;
  padding: 20px;
  position: fixed;
  top: 100px;
  transform: translateX(-50%);
  z-index: 10;
}

.b-modal__button {
  background: var(--dark-grass);
  border-radius: 2px;
  border: 0;
  color: var(--light-light-gray);
  cursor: pointer;
  padding: 15px;
  width: 100%;

  &.b-modal__button--cancel {
    background-color: var(--dark-grapefruit);
  }
}

.b-modal-drop {
  background-color: rgba(0, 0, 0, .4);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.b-promo-modal {
  height: auto;

  h2 {
    font-size: 21px;
    margin: 10px 0px 10px 0px;
  }

  span {
    background-color: var(--dark-grapefruit);
    color: var(--light-light-gray);
    font-size: 44px;
    height: 50px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 50px;
  }
}

.b-promo-modal__choices {
  display: flex;
  margin: 0;
  padding: 0px 0px 15px 0px;
}

.b-promo-modal__choices__category {
  flex: 1;

  &:not(:first-child) {
    margin-left: 15px;
  }
}

.b-promo-modal__choices__category__choice {
  background-color: var(--light-pink);
  color: var(--light-light-gray);
  padding: 10px;

  &:not(:first-child) {
    margin-top: 15px;
  }

  &--selected {
    background-color: var(--dark-lavender);
  }
}
