.b-order_code {
  font-size: 20px;
}

.b-order_code__keyboards {
  padding-top: 5px;
  display: block;
}

.b-select_order_code {
  padding: 5px;
  background-color: var(--light-gray);
  font-weight: normal;
  margin-bottom: 25px;
  font-size: 20px;
  min-width: 1058px;
}

.b-order_code__keyboards {
  display: flex !important;
}
