.b-prepare {
  display: flex;
  font-size: 21px;
  font-weight: bold;
  height: 100%;
}

.b-prepare__title {
  background-color: var(--dark-blue);
  color: var(--light-light-gray);
  height: 75px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10;

  > span {
    display: inline-block;
    padding-top: 20px;
    font-size: 28px;
  }
}

.b-prepare__orders, .b-prepare__abstract {
  padding-top: 75px;
}

.b-prepare__abstract__title {
  padding: 9px 0;
  background-color: var(--dark-blue);
  color: var(--light-light-gray);
  text-align: center;
}

.b-prepare__abstract__table {
  width: 100%;
  border-collapse: collapse;
}

.b-prepare__abstract__table td {
  padding: 5px;
  font-weight: 300;
  font-size: 20px;
}

.b-prepare__abstract__table_td_counter {
  text-align:center;
  vertical-align:middle;
  width: 15%;
}

.b-prepare__abstract__table_td_counter span {
  font-weight: bold;
}

.b-prepare__abstract__table tr:nth-child(odd) {
  background-color: var(--blue-grey-light);
}

.b-prepare__abstract__table tr:nth-child(even) {
  background-color: var(--blue-grey);
}

.b-prepare__abstract__table tr:hover {
  background-color: var(--dark-dark-gray);
}

.b-prepare__abstract__total_number {
  font-weight: bold;
}

.b-prepare__abstract {
  width: 20%;
  background-color: var(--dark-blue);
  color: var(--light-light-gray);
}

.b-prepare__orders {
  background-color: var(--blue-grey-light);
  height: 100%;
  overflow-y: auto;
  width: 80%;
  display:flex;
  flex:1;
  flex-direction: column;
}

.b-prepare__abstract__table_td_counter--prepare {
  background: var(--dark-bittersweet);
}

.b-prepare__orders__orders__order {
  background-color: var(--dark-blue);
  color: var(--light-gray);
  display: flex;
  margin: 10px auto;
  overflow: hidden;
  width: 98%;
  padding: 5px 5px 5px 10px;
}

.b-prepare__orders__orders__order__name {
  color: var(--light-light-gray);
  flex-grow: 1;
  line-height: 50px;
}

.b-prepare__orders__orders__order__status {
  position: relative;
  height: 50px;
  padding: 0 10px;
  line-height: 50px;

  &:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 25px;
    margin-top: -25px;
  }

  &.b-prepare__orders__orders__order__status--active {
    color: var(--light-light-gray);
  }
}

.b-sell__title__pizza {
  cursor: pointer;
  height: 75px;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 28px;
  text-align: left;
  min-width: 186px;
}

.b-sell__title__pizza--switched {
  background-color: var(--dark-lavender);
}


.b-prepare__orders__orders__order__pending {
  background-color: var(--dark-grapefruit);
  left: -70px;
  padding-left: 20px;

  &:after {
    background-color: var(--darker-bittersweet);
    border-left-color: var(--dark-grapefruit);

    .b-prepare__orders__orders__order--prepare & {
      background-color: #61170c;
    }
  }

  &.b-prepare__orders__orders__order__status--active {
    background-color: var(--dark-grapefruit);

    &:after {
      background-color: #e8563f;
    }
  }
}

.b-prepare__orders__orders__order__prepare {
  background-color: var(--darker-bittersweet);
  left: -35px;

  &:after {
    background-color: var(--darker-grass);
    border-left-color: var(--darker-bittersweet);

    .b-prepare__orders__orders__order--ready & {
      background-color: var(--dark-grass);
    }
  }

  &.b-prepare__orders__orders__order__status--active {
    background-color: var(--dark-bittersweet);

    &:after {
      border-left-color: var(--dark-bittersweet);
    }
  }
}

.b-prepare__orders__orders__order__ready {
  background-color: var(--darker-grass);
  padding-right: 20px;

  &:after {
    border-width: 0;
  }

  &.b-prepare__orders__orders__order__status--active {
    background-color: var(--dark-grass);

    &:after {
      border-left-color: var(--dark-grass);
    }
  }
}

.b-prepare__orders__orders__empty {
  color: var(--light-light-gray);
  text-align: center;
  margin-top: 50px;
  font-weight: 300;
}

.b-prepare__orders__tabs {
  display: flex;
  min-height: 42px;
}

.b-prepare__orders__orders {
  overflow-y: auto;
}

.b-prepare__orders__tabs__tab {
  background-color: var(--dark-blue);
  color: var(--dark-sunflower);
  cursor: pointer;
  flex: 1;
  font-size: 24px;
  height: 42px;
  line-height: 31px;
  padding: 5px;
  text-align: center;
}

.b-prepare__orders__tabs__tab--active {
  background-color: var(--dark-sunflower);
  color: var(--dark-blue);
}

.b-prepare__orders__orders__orders {
  background-color: var(--dark-blue);
  color: var(--light-gray);
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  overflow: hidden;
  width: 98%;
  padding: 5px 5px 5px 10px;

  > .b-prepare__orders__orders__order {
    margin: 0px;
    width: 100%;
    padding: 2px 0px 2px 0px;
  }

  > .b-prepare__orders__orders__order:first-child {
    margin: 0px;
    width: 100%;
    padding: 0px 0px 2px 0px;
  }

  > .b-prepare__orders__orders__order:last-child {
    margin: 0px;
    width: 100%;
    padding: 2px 0px 0px 0px;
  }
}
