.b-sell__page__sidebar {
  background-color: #34495e;
  flex: 0;
  min-width: 400px;
  position: relative;
}

.b-sell__page__sidebar__item {
  align-items: center;
  background-color: #ecf0f1;
  display: flex;
  font-weight: normal;
  padding: 10px 20px;

  &:not(:last-child) {
    border-bottom: 2px solid #34495e;
  }

  > :last-child {
    background-color: #e74c3c;
    color: #fff;
    cursor: pointer;
    font-size: 38px;
    padding: 0 10px;
    position: absolute;
    right: 5px;
  }
}

.b-sell__page__sidebar__valid {
  background-color: #2ecc71;
  bottom: 1px;
  color: #fff;
  font-size: 56px;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}
