.b-sell__page__sidebar {
  background-color: var(--dark-blue);
  flex: 0;
  min-width: 250px;
  position: relative;
}

.b-sell__page__sidebar__item {
  align-items: center;
  background-color: var(--light-gray);
  display: flex;
  font-size: 20px;
  font-weight: normal;
  padding: 0 0 0 20px;

  &.b-sell__page__sidebar__item--promotion {
    background-color: var(--dark-light-gray);
  }

  &:not(:last-child) {
    border-bottom: 2px solid var(--dark-blue);
  }

  > span {
    flex: 1;
  }

  > :last-child {
    background-color: var(--dark-grapefruit);
    color: var(--light-light-gray);
    cursor: pointer;
    flex: 0;
    font-size: 38px;
    padding: 0 10px;
  }
}

.b-sell__page__sidebar__valid {
  background-color: var(--dark-grass);
  bottom: 0;
  color: var(--light-light-gray);
  font-size: 40px;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}
